<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBndL3wGpz9GC6W97u0QnndKptsLFQbBKs</string>
	<key>GCM_SENDER_ID</key>
	<string>527214852381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahameek.app</string>
	<key>PROJECT_ID</key>
	<string>mahameek-30c70</string>
	<key>STORAGE_BUCKET</key>
	<string>mahameek-30c70.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:527214852381:ios:07017c37b7d26e079349f4</string>
</dict>
</plist>
